html,
body {
  padding: 0;
  margin: 0;
  font-family: roboto, verdana;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

label{
  display: block;
}
input, textarea{
  padding: 10px;
  border: solid 1px #eee;
  width: 320px;
}
p.errormessage{
  font-size: 11px;
  color: red;
}